.profile {
  min-height: 100%;
  padding: 74px 0 70px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and(max-width: 769px) {
    padding: 236px 0 70px;
  }

  @media screen and(max-width: 767px) {
    padding: 70px 0 40px;
  }

  &__title {
    text-align: center;
    margin: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
  }

  &__form {
    align-items: center;
    margin: 123px 0 16px;
    display: flex;
    min-width: 410px;
    flex-direction: column;

    @media screen and(max-width: 769px) {
      margin: 97px 0 16px;
    }

    @media screen and(max-width: 769px) {
      min-width: 260px;
      margin: 81px 30px 16px;
    }
  }

  &__label {
    min-width: 100%;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    grid-template-areas: 'label input' 'error error';
    margin: 0;
    grid-area: label;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;

    &:first-of-type {
      border-bottom: 1px solid rgba(232, 232, 232, 1);
    }

    &:last-of-type {
      padding-top: 24px;
      margin-bottom: 220px;

      @media screen and(max-width: 769px) {
        margin-bottom: 209px;
      }

      @media screen and(max-width: 767px) {
        margin-bottom: 0;
      }
    }
  }

  &__input {
    grid-area: input;
    border: 0;
    display: flex;
    text-align: end;
    min-width: 100%;
    padding: 0;
  }

  &__button {
    max-width: max-content;
    padding: 0;
    border: none;
    color: rgba(255, 64, 98, 1);
    background-color: transparent;
    transition: 0.5s;
    cursor: pointer;
    font-size: 13px;
    line-height: 16px;

    @media screen and(max-width: 767px) {
      font-size: 12px;
      line-height: 15px;
    }

    &:hover {
      transition: 0.5s;
      opacity: 0.8;
    }

    &_type_submit {
      color: inherit;

      @media screen and(max-width: 767px) {
        margin-top: 378px;
      }
    }

    &_type_error {
      color:rgba(255, 64, 98, 1);

      &:hover {
        opacity: 1;
        cursor: not-allowed;
      }
    }
  }

  &__text-error {
    grid-area: error;
    color: rgba(255, 64, 98, 1);
    font-size: 10px;
    line-height: 12px;
    min-height: 12px;
    margin: 5px 0;
    justify-self: center;
    text-align: center;

    @media screen and(max-width: 767px) {
        min-height: 24px;
      }

    &_type_submit {
      align-self: center;
      font-size: 14px;
    }
  }
}
