.promo {
  display: flex;
  margin: 0 40px;
  padding-bottom: 30px;
  flex-direction: column;
  gap: 151px;
  align-items: center;
  background-color: rgba(245, 245, 245, 1);

  &__title {
    margin: 160px 0 0;
    text-align: center;
    max-width: 730px;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -0.04em;
  }
}
