.promo {
  display: flex;
  margin: 0 40px;
  padding-bottom: 30px;
  flex-direction: column;
  gap: 151px;
  align-items: center;
  background-color: rgba(245, 245, 245, 1);

  @media screen and (max-width: 769px) {
    margin: 0 20px;
    gap: 314px;
    border-radius: 10px;
  }

  @media screen and (max-width: 767px) {
    padding-bottom: 17px;
    margin: 0 14px;
    gap: 212px;
  }

  &__title {
    margin: 160px 0 0;
    text-align: center;
    max-width: 730px;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -0.04em;

    @media screen and (max-width: 769px) {
      margin-top: 350px;
      font-size: 40px;
      line-height: 52px;
      max-width: 680px;
    }

    @media screen and (max-width: 767px) {
      margin-top: 220px;
      font-size: 29px;
      line-height: 37px;
      max-width: 292px;
    }
  }
}
