.search-form {
  z-index: 1;
  padding: 82px 0 39px;
  border-bottom: 1px solid rgba(232, 232, 232, 1);
  margin-bottom: 10px;
  display: grid;
  grid-template: repeat(3, min-content) / calc(100% - 80px);
  grid-template-areas: 'input submit' 'error error' 'checkbox checkbox';

  @media screen and(max-width: 767px) {
    margin: 0 14px;
    padding: 81px 0 43px;
  }

  &__input {
    grid-area: input;
    padding: 0 0 0 22px;
    background-color: rgba(249, 249, 249, 1);
    border: none;
    border-radius: 4px;
    font-size: 14px;
    line-height: 18px;

    @media screen and(max-width: 767px) {
      padding: 0 0 0 16px;
      font-size: 12px;
      line-height: 18px;
    }
  }

  &__submit {
    cursor: pointer;
    grid-area: submit;
    margin-left: 10px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    min-width: 70px;
    min-height: 44px;
    padding: 0;
    border: none;
    border-radius: 30px;
    color: white;
    background-color: black;
    transition: 0.5s;

    &:hover {
      opacity: 0.8;
      transition: 0.5s;
    }
  }

  &__label {
    margin-top: 16px;
    z-index: -1;
    min-height: 20px;
    min-width: 156px;
    grid-area: checkbox;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    justify-self: center;
    position: relative;

    @media screen and(max-width: 767px) {
      min-width: 148px;
    }
  }

  &__checkbox {
    position: absolute;
    width: 100%;
    height: 100%;
    appearance: none;

    &::before {
      cursor: pointer;
      position: absolute;
      background-color: rgba(235, 235, 235, 1);
      border-radius: 20px;
      content: '';
      min-width: 36px;
      min-height: 20px;
    }

    &:checked {
      &::before {
        background-color: rgba(43, 224, 128, 1);
      }
    }

    &::after {
      cursor: pointer;
      position: absolute;
      background-color: rgba(245, 245, 245, 1);
      box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
      border-radius: 50%;
      top: 2px;
      left: 2px;
      content: '';
      min-width: 16px;
      min-height: 16px;
      transition: 0.2s;
    }

    &:checked {
      &::after {
        background-color: #ffffff;
        transition: 0.2s;
        left: 18px;
      }
    }
  }

  &__checkbox-text {
    font-size: 12px;
    line-height: 18px;

    @media screen and(max-width: 767px) {
      font-size: 11px;
    }
  }

  &__error {
    min-height: 12px;
    margin: 5px 0 0 22px;
    grid-area: error;
    color: rgba(255, 64, 98, 1);
    font-size: 10px;
    line-height: 12px;
  }
}
