.header {
  display: flex;
  margin: 0;
  padding: 18px 70px;
  justify-content: space-between;

  &__auth-container {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  &__button {
    max-height: 16px;
    padding: 0;
    border: none;
    background-color: transparent;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    transition: 0.5s;
    cursor: pointer;

    &_type_black {
      min-height: 32px;
      min-width: 76px;
      color: white;
      background-color: black;
      border-radius: 3px;

      &:hover {
        opacity: 0.8;
      }
    }

    &:hover {
      transition: 0.5s;
      opacity: 0.7;
    }
  }
}
